.book-card-title {
  font-size: 2rem;
  font-weight: 40;
  margin-bottom: 0.5rem;
  max-width: fit-content;
  max-height: fit-content;
}

.book-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.confirm-return-button {
  margin-left: auto;
  background-color: #f5a623;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.2s ease;
}

.confirm-return-button:hover {
  background-color: #008cba;
  transform: scale(1.05);
}

.confirm-return-button:active {
  background-color: #1e7e34;
  transform: scale(1);
}

.confirm-return-button:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
  opacity: 0.65;
}

.error-modal,
.remove-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  font-size: 1rem;
  text-align: center;
  z-index: 2000; /* Ensure it appears above other content */
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%,
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
