.form-background {
  width: 100%;
  height: calc(100vh - 50px);
  background: linear-gradient(-10deg, #008CBA 60%, white 50%);
  overflow: hidden;
  position: relative;
  top: 50px;
}

.circles {
  position: absolute;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #0868d646;
  border-radius: 50%;
  pointer-events: none;
  background-color: transparent;
}

.form-overlay {
  height: 100%;
  width: 80%;
}

.form-header {
  margin: 20px 0 100px 0px;
}

.form-container {
  width: 90%;
  margin: auto;
}

.form-group {
  display: flex;
  margin: 20px 0;
  justify-content: space-around;
}

.form {
  border-radius: 10px;
  background-color: rgba(255, 255, 255);
  box-shadow:
    0px -3px 5px rgba(0, 0, 0, 0.1),
    0px 3px 8px rgba(0, 0, 0, 0.2),
    inset 0px -4px 6px rgba(0, 0, 0, 0.05),
    3px 0px 6px rgba(0, 0, 0, 0.1),
    -3px 0px 6px rgba(0, 0, 0, 0.1);
}

.form-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form-text-header {
  margin-top: 25%;
}

.form-text-content {
  z-index: 1;
}

.img-cont {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.goodreads {
  height: 120px;
  cursor: pointer;
}

.bn {
  cursor: pointer;
  height: 90px;
}

.penguin {
  height: 70px;
}

.bwb {
  height: 60px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}