.terms-container {
  padding: 0px 16px 16px 16px;
}

.terms-container > h4 {
  font-weight: 700;
  font-size: 44px;
  padding: 20px 0;
}

.terms-section>h5 {
  font-weight: 900;
  font-size: 34px;
}

.terms-section {
  margin-bottom: 16px;
  padding: 0 10px;
}

.terms-footer {
  margin-top: 24px;
  font-style: italic;

}