.terms-container {
  padding: 16px;

}
.terms-container > h4{
  box-shadow: 0px 2px 4px rgba(0, 0, 0,.1);
}

.terms-section {
  margin-bottom: 16px;
  padding: 0 10px;
}

.terms-footer {
  margin-top: 24px;
  font-style: italic;
}